[alias]
    co = checkout
    br = branch
    cm = commit -m
    cma = commit -am
    st = status
    po = push origin
    pom = push origin master
    plo = pull origin
    plom = pull origin master
    com = checkout master
    rom = reset --hard origin master
    uncommit = reset --soft ^HEAD
    untag = tag -d
    # Will throw, but at least show the :refs/ which I always forget
    untag-remote = push origin :refs/tags/
    # Taken from https://gist.github.com/angstwad/04a0c3090bbd2c56b2fc
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[user]
    username = v1adko
    name = Vlad Kolbaya
    email = vlad.kolbaya@gmail.com
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = "code --wait "
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = "code --wait --diff  "
